<!-- <p>home works!</p>

<a routerLink="/listteams">List Teams</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/addplayer">Add Player</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/addteam">Add Team</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/listplayer">List Player</a> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/listteams">List Item</a>
          <a class="nav-link" routerLink="/addplayer">Add Player</a>
          <a class="nav-link" routerLink="/addteam">Add Team</a>
          <a class="nav-link" routerLink="/listplayer">List Player</a>
        </div>
      </div>
    </div>
  </nav>