<h2>Welcome to Home</h2>
<div>
<ul>

        <li><a routerLink="showPlayers" >Show Players</a></li>
        <li><a routerLink="ShowTeams">Show Teams</a></li>
        <li><a routerLink="AddPlayers">Add Players</a></li>
        <li><a routerLink="AddTeams">Add Teams</a></li>
       <!-- <li> <a routerLink="showPlayers" >Show Players</a></li> -->
       <!-- <li> <a routerLink="EditPlayer" >Edit Players</a></li> -->

 
    
</ul>
<!-- <a routerLink="showPlayers" >Show Players</a>
<a routerLink="ShowTeams">Show Teams</a>
<a routerLink="AddPlayers">Add Players</a>
<a routerLink="AddTeams">Add Teams</a> -->
</div>

